-- Habilitar RLS en sucursales
ALTER TABLE public.sucursales ENABLE ROW LEVEL SECURITY;

-- Politica de lectura: Usuarios autenticados de la misma escuela pueden leer
CREATE POLICY "Usuarios asisport pueden ver sucursales de su escuela" 
ON public.sucursales 
FOR SELECT 
USING (
  auth.uid() IN (
    SELECT id FROM usuarios WHERE usuarios.escuela_id = sucursales.escuela_id
  )
);

-- Politica de insercion: Solo Administradores, Duenos o SuperAdministradores pueden insertar
CREATE POLICY "Administradores pueden crear sucursales" 
ON public.sucursales 
FOR INSERT 
WITH CHECK (
  auth.uid() IN (
    SELECT id FROM usuarios 
    WHERE usuarios.escuela_id = sucursales.escuela_id 
    AND (usuarios.rol = 'Administrador' OR usuarios.rol = 'Dueño' OR usuarios.rol = 'SuperAdministrador')
  )
);

-- Politica de actualizacion: Solo Administradores, Duenos o SuperAdministradores pueden actualizar
CREATE POLICY "Administradores pueden actualizar sucursales" 
ON public.sucursales 
FOR UPDATE 
USING (
  auth.uid() IN (
    SELECT id FROM usuarios 
    WHERE usuarios.escuela_id = sucursales.escuela_id 
    AND (usuarios.rol = 'Administrador' OR usuarios.rol = 'Dueño' OR usuarios.rol = 'SuperAdministrador')
  )
)
WITH CHECK (
  auth.uid() IN (
    SELECT id FROM usuarios 
    WHERE usuarios.escuela_id = sucursales.escuela_id 
    AND (usuarios.rol = 'Administrador' OR usuarios.rol = 'Dueño' OR usuarios.rol = 'SuperAdministrador')
  )
);

-- Politica de eliminacion: Solo Administradores, Duenos o SuperAdministradores pueden eliminar
CREATE POLICY "Administradores pueden eliminar sucursales" 
ON public.sucursales 
FOR DELETE 
USING (
  auth.uid() IN (
    SELECT id FROM usuarios 
    WHERE usuarios.escuela_id = sucursales.escuela_id 
    AND (usuarios.rol = 'Administrador' OR usuarios.rol = 'Dueño' OR usuarios.rol = 'SuperAdministrador')
  )
);
